<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BangumiSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="BangumiModel" connectionString="data source=satroki-pc\SQLEXPRESS;initial catalog=BangumiSS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings><userSettings>
    <BangumiSS.Properties.Settings>
      <setting name="扩展名" serializeAs="String">
        <value>.mp4|.mkv</value>
      </setting>
      <setting name="路径格式" serializeAs="String">
        <value>E:\|\d{4}.\d{2}月番</value>
      </setting>
      <setting name="动漫花园RSS" serializeAs="String">
        <value>http://dmhy.dandanplay.com/topics/rss/rss.xml</value>
      </setting>
      <setting name="默认RSS" serializeAs="String">
        <value>DMHY</value>
      </setting>
      <setting name="上次更新" serializeAs="String">
        <value>09/16/2014 08:24:13</value>
      </setting>
      <setting name="上次搜索" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="新番匹配" serializeAs="String">
        <value>(.*)</value>
      </setting>
      <setting name="启动Top" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="启动Left" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="完结目录" serializeAs="String">
        <value>E:\完结</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>470</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>520</value>
      </setting>
      <setting name="动漫花园搜索" serializeAs="String">
        <value>http://dmhy.dandanplay.com/topics/list?keyword=</value>
      </setting>
    </BangumiSS.Properties.Settings>
  </userSettings>
</configuration>
